.container {
  display: grid;
  grid-columns:1fr 1fr 1fr 1fr 1fr ;
  grid-rows: 1fr 5fr 1fr;
}

.item-a {
  grid-area: head;
}

.item-b {
  grid-area: body
}

.item-a {
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: span 2
}
