ul{
 list-style-image: url('http://findicons.com/files/icons/2360/spirit20/20/bullet_blue_alt.png')}
 header, body, footer{
 background: linear-gradient(rgba(204, 222, 255, 0.2), rgba(146, 197, 255, 0.4));
  }

h1{    
  font-family: "Cooper Black";
      font-style: italic;
      color: #34768E;
    
 .image{
    position: relative;
  float:left;
    padding: 100px;
  border: 30px;
    
 }
}
 body{
 position: right; 
  
}

.background-info-title{
 font-family: "Berlin Sans FB", serif;
 font-style: bold;
 color: #34768E;
}
 .background-info{
  font-family: "Arial Narrow", sans-serif;
 
}
.background-info-all{
 width: 650px;
  border: 25px;
  padding: 2px;
  margin:auto;
}
 
 
 .education-all{
 width: 650px;
  border: 25px;
  padding: 2px;
 margin: auto;
}
  
  

.Education-title{
    
 font-family: "Berlin Sans FB", serif;
 font-style: bold;
 color: #34768E;
 
}
.Education {
    font-family: "Arial Narrow", sans-serif;
 
}
.professional-experience-all{
 width: 650px;
  border: 25px;
  padding: 2px;
margin: auto;
}
.Professional-Experience-title{
    
  font-family: "Berlin Sans FB", serif;
 font-style: bold;
 color: #34768E;
 
} 
.Professional-Experience{
    font-family: "Arial Narrow", sans-serif;

}

.non-professional-experience-all{
 width: 650px;
  border: 25px;
  padding: 2px;
 margin: auto;
}

.Non-professional-experience-title{
  font-family: "Berlin Sans FB", serif;
 font-style: bold;
 color: #34768E;
}

.Non-professional-experience{
     font-family: "Arial Narrow", serif;
        
}
 
.technical-skills-all{
 width: 650px;
  border: 25px;
  padding: 2px;
margin: auto;
}
.Technical-skills-title{
 font-family: "Berlin Sans FB", serif;
 font-style: bold;
 color: #34768E;
 
}


.Technical-skills{
    
 font-family: "Arial Narrow", serif;
    
    
}
.other-all{
 width: 650px;
  border: 25px;
  padding: 2px;
  margin:auto;
}
.other-title{
 font-family: "Berlin Sans FB", serif;
 font-style: bold;
 color: #34768E;
 
 
}

.other{
 
font-family: "Arial Narrow", serif;
}

 .socialmedia-sites{
  width: 650px;
  border: 25px;
  padding: 2px;
  marging:auto;
  
  
  
}
