.allwebsite {
  display: grid;
  grid-template-columns: 25% 50% 25% ;
  grid-template-rows: 1.5fr 1fr 1fr 1fr 1fr 1fr ;
}

 
  
.head {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 1;
  grid-row-end: span 1
}
